#advanced-search-panel {
    max-width: 50em;
    box-sizing: border-box;
    clear: both;
    margin-top: 0.4em;
    padding: 0.5em 0.75em;
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;

    &.panel-hide {
        display: none;
    }

    .panel-header {
        display: flex;
        justify-content: space-between;
        font-size: 1.2em;
        font-weight: 600;
    }

    .panel-content {
        margin-top: 0.6em;

        .condition-line {
            display: flex;
            margin-top: 0.4em;

            // 未填行，设为半透明
            &.condition-line-next {
                opacity: 0.4;
                transition: opacity ease-out 0.3s;

                // 鼠标悬浮时变透明
                &:hover {
                    opacity: 1;
                }
            }

            .condition-code {
                flex: 0 0 10em;
            }

            .condition-text {
                flex: 1 1 40em;
                max-width: unset;
            }
        }
    }
}
