{
  "tabWidth": 2,
  "semi": true,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "singleAttributePerLine": true
      }
    },
    {
      "files": "*.less",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
