{
  "plugins": [
    "stylelint-less"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended",
    "stylelint-config-recommended-less"
  ],
  "ignoreFiles": [
    "dist/**/*",
    "node_modules/**/*",
    "src/components/oojs-ui-react/node_modules/**/*"
  ],
  "overrides": [
    {
      "files": ["src/**/*.less"],
      "customSyntax": "postcss-less"
    }
  ],
  "rules": {
    "selector-id-pattern": null,
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": ["global"] }],
    "color-function-notation": null,
    "comment-empty-line-before": null,
    "import-notation": ["string"],
    "no-descending-specificity": null,
    "at-rule-no-unknown": null,
    "media-feature-range-notation": null
  }
}
