#bearbintools-jsonviewer {
    .json-view {
        padding: 0.6em 1em;
    }

    &.light-mode {
        background-color: rgb(255 255 255 / 75%);
    }

    .jv-indent {
        padding-left: 2em;
    }
}
