@import '@/styles/mixins.less';

.bearbingadget-exportxml {
    .overwrite-page();
}

#exportxml-exportbutton {
    margin-top: 0.6em;
}

#exportxml-log {
    .loger-headline {
        display: none;
    }

    .loger-body {
        min-height: 5em;
    }

    .loger-filter {
        display: none;
    }
}
