.rootpage-Special_MassEdit {
    #firstHeading {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;

        > div {
            font-size: 0.6em;
        }
    }

    #bodyContent {
        padding-right: 0;

        #mw-content-text {
            h5 {
                margin-bottom: 0;
            }

            textarea {
                line-height: 1.3;
            }

            > ul {
                list-style: inside !important;
                margin: 0 0 0 0.2em !important;
            }
        }
    }
}

.me-textarea {
    box-sizing: border-box;
    width: 100%;
}

#me-regex {
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#me-regex-note li {
    margin-top: 0;
    margin-bottom: 0;
}

#me-page-lists {
    display: flex;
    gap: 0.3em;

    > div {
        flex-grow: 1;

        textarea {
            resize: none;
        }
    }
}

#me-pages-note {
    margin-bottom: 0.6em;
}

.me-panel {
    display: flex;
    gap: 0.1rem;

    &+.me-panel {
        margin-top: 0.4em;
    }
}

#me-edit-panel {
    #me-interval {
        flex: 0 0 5.5em;
    }

    #me-summary {
        max-width: initial;
    }
}

#me-preview-panel {
    .oo-ui-textInputWidget {
        max-width: initial;
    }
}

#me-retry {
    margin-top: 0.3em;

    #me-use-retry {
        display: inline;

        .oo-ui-fieldLayout-body {
            display: inline;
            max-width: unset;

            > span {
                display: inline;
            }
        }

        .oo-ui-checkboxInputWidget-checkIcon {
            top: 0;
        }

        &::after {
            content: unset;
        }
    }

    #me-retry-times {
        display: inline-block;
        width: 3em;
    }
}

#me-regex-help-list {
    list-style: inside;
    user-select: none;

    li {
        line-height: 1.6;
        margin-bottom: 1px;
    }

    code {
        border: 1px solid #ddd;
        padding: 1px 3px;
        user-select: all;
        cursor: text;
    }
}
