@transition-delay: 0.2s;
@transform-transition: transform @transition-delay ease-in-out;

// vector
#mw-panel {
    .portal {
        &[role="navigation"] {
            padding-bottom: 0.5em;
        }

        h3 {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0.2em 0.5em;
            border-radius: 4px;
            cursor: pointer;
            user-select: none;
            transition: background-color @transition-delay ease-in-out;

            &:hover {
                background-color: rgb(192 192 191 / 30%);
            }
        }

        .folder-icon {
            height: 18px;
            transition: @transform-transition;
        }

        .body-folded {
            .folder-icon {
                transform: rotate(-90deg);
            }
        }
    }

    .sidebar-enhance-stickywrapper {
        position: sticky;
        top: 0;
    }
}

// moeskin
.moe-card:not(#moe-article) {
    h2,
    h3 {
        cursor: pointer;
    }
}

.artwork-main {
    .n-card-header__main {
        cursor: pointer;
    }
}

.sidebar-enchance-title {
    .n-collapse-item-arrow {
        float: right;

        svg {
            transition: @transform-transition;
            transform: rotate(90deg);
        }
    }

    &.body-folded .n-collapse-item-arrow {
        svg {
            transform: rotate(0);
        }
    }
}
