.rootpage-Special_TextDiff {
    #firstHeading {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;

        >div {
            font-size: .6em;
        }
    }

    #bodyContent {
        padding-right: 0 !important;

        #mw-content-text {
            .oo-ui-textInputWidget {
                max-width: unset;
            }

            .get-source-from-page>.oo-ui-textInputWidget {
                margin-right: 0;
                max-width: 25em;
            }
        }
    }

    .get-source-from-page {
        margin-top: .4em;
        display: flex;
        gap: .3em;
    }

    #submit-button {
        margin-top: 1em;
    }

    #diff-result {
        padding: .2em;
    }

    #result-action {
        margin-top: 1em;
    }
}